body {
  font-family:'Lucida Sans Unicode', sans-serif;
 font-size: 1.5rem


 
}

header {
  background-color: rgb(209, 159, 209);
  color: white;
  text-align: side;
  padding: 10px;
 
}

footer{
  background-color: rgb;
  color: white;
  text-align: center;
  padding: 20px;
  
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

nav ul li {
  margin: 0 15px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;

}

form input, form textarea {
  display: block;
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
}

